figure {
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20em;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 31.8309886184;
  stroke-dasharray: 0, 0, 0, 100;
  stroke-dashoffset: 25;
  animation: pie1 6s infinite ease both;
}

/* Rainbow colors for each pie segment */
.pie1 {
  stroke: rgba(240, 50, 50, .75); /* Red */
}

.pie2 {
  stroke: rgba(255, 180, 50, .75); /* Orange */
  animation-name: pie2;
}

.pie3 {
  stroke: rgba(255, 220, 90, .75);; /* Yellow */
  animation-name: pie3;
}

.pie4 {
  stroke: rgba(100, 210, 80, .75);; /* Green */
  animation-name: pie4;
}

.pie5 {
  stroke: rgba(90, 165, 255, .75); /* Blue */
  animation-name: pie5;
}

.pie6 {
  stroke: rgba(170, 90, 240, .75); /* Indigo */
  animation-name: pie6;
}

.pie7 {
  stroke: rgba(148, 0, 211, .75); /* Violet  */
  animation-name: pie7;
}

/* 1st pie is 14% */
@keyframes pie1 {
  50%, 100% {
    stroke-dasharray: 14, 86, 0, 0;
  }
}

/* 2nd pie is 14% */
@keyframes pie2 {
  50%, 100% {
    stroke-dasharray: 0, 14, 14, 72;
  }
}

/* 3rd pie is 14% */
@keyframes pie3 {
  50%, 100% {
    stroke-dasharray: 0, 28, 14, 58;
  }
}

/* 4th pie is 14% */
@keyframes pie4 {
  50%, 100% {
    stroke-dasharray: 0, 42, 14, 44;
  }
}
/* 5th pie is 14% */
@keyframes pie5 {
  50%, 100% {
    stroke-dasharray: 0, 56, 14, 30;
  }
}
/* 6th pie is 14% */
@keyframes pie6 {
  50%, 100% {
    stroke-dasharray: 0, 70, 14, 16;
  }
}
/* 7th pie is 16% */
@keyframes pie7 {
  50%, 100% {
    stroke-dasharray: 0, 84, 16, 0;
  }
}



